@import url('https://fonts.googleapis.com/css2?family=Laila:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transform: all 0.1s;
}

.App {
	background: #f4f4f4;
}

.width {
	max-width: 1250px;
	min-width: 1200px;
}

.inter {
	font-family: 'Inter';
}

.poppins {
	font-family: 'Poppins';
}

.laila {
	font-family: 'Laila';
}

.none {
	display: none;
}
